/* generics */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    margin: 0 auto;
    max-width: 1000px;
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}

/* header principale */
#main-header #logo {
    height: 60px;
}

/* nav */
#menu li a {
    text-decoration: none;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 15px;
}

#menu li:last-child {
    padding-right: 0;
}

/* corpo centrale */

.main-container .spotlight {
    height: 400px;
    background-image: url(./img/banner.jpg);
    background-position: 100%;
}

.main-container .spotlight .spot-text {
    color: white;
    padding-top: 250px;
    padding-left: 30px;
}
