/* generics */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper{
    margin: 0 auto;
    max-width: 1000px;
}

.clearfix::after {
    clear: both;
    display: table;
    content: "";
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
}

/* utility */
.small, a {
    font-size: 14px;
}

.font-color, a {
    color: grey;
}

.col, .col-text {
    width: 20%;
    float: left;
}
/* header principale */
#main-header #logo {
    height: 60px;
}

/* nav */

#menu li {
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 15px;
}

#menu li:last-child {
    padding-right: 0;
}

#menu li a {
    text-decoration: none;
}

/* corpo centrale */
.main-container .spotlight {
    height: 400px;
    background-image: url("../img/banner.jpg");
    background-position: 100%;
}

.main-container .spotlight .spot-text {
    color: white;
    padding-top: 250px;
    padding-left: 30px;
}

.main-container .spotlight .spot-text h2 {
    font-weight: lighter;
}

/* Colonne */
.main-container .columns .col {
    height: 200px;
    background-repeat: no-repeat;
    background-position: 50%;
}

.main-container .columns .col:nth-child(2) {
    width: 60%;
    padding: 0 20px;
    background-image:url(../img/banner-2.jpg);
}

.main-container .columns .col:first-child {
    background-image: url(../img/img-1.jpg);
}

.main-container .columns .col:last-child {
    background-image:url(../img/img-3.jpg)
}


/* colonne testo */
.main-container .columns-text .col-text:nth-child(2) {
    width: 60%;
    padding: 0 20px;
}

.main-container .columns-text .col-text .article-title {
    margin: 10px 0 10px 0;
    color: black;
}

/* footer */
footer {
    text-align: center;
    margin-top: 40px; 
    margin-bottom: 60px;
    font-size: 12px;
}

footer .fa-heart {
    color:red;
}


/* da riveder */
.spotlight, .columns, .overlay {
    border-radius: 10px;
}

.main-header, .spotlight, .header-title {
    margin: 30px 0;
}


.spotlight, .col {
    background-size: cover;
}